<div class="flex-centered">
  <h1><%= @issue.name %></h1>
</div>
<div class="inline-box flex-centered">
  <h2>Supreme Court cases</h2>

  <ul class="unmarked-list">

    <% @issue.cases.each do |cur_case| %>
      <%= erb :"cases/_button", layout: false, locals: { cur_case: cur_case } %>
    <% end %>
    <% if current_user %>
      <li>
        <form id="new-case-link" action="/issues/<%=@issue.id%>/cases/new" method="get">
          <button class="big-button yellow" type="submit">+ Add New Case
          </button>
        </form>
      </li>
    <% end %>
    <div id="case-form-holder">
    </div>
  <ul>
</div>
<div class="inline-box">
  <h2>Recent citations</h2>
  <% if @case %>
    <ul>
       <% @case.recent_citations.each do |citation| %>
        <li><a href="/issues/<%=@issue.id%>/citations/<%=citation.id%>"><%=citation.full_citation%></a></li>
        <% end %>
    </ul>
  <% end %>
</div>
