<div class="flex-centered">
    <h1><%= @case.name %></h1>
</div>
<div class="flex-centered">
    <p><%= @case.full_citation %></p>
</div>
<div>
  <%= @case.full_text %>
</div>
<!-- <div>
  <h2>Recent citations</h2>
  <% c = @case.recent_citations %>
  <h3><%= c.full_citation %></h3>
  <p><%= c.formatted_text %></p>
</div> -->
